<!DOCTYPE html>
<html lang="no">
    <head>
        <title>Valg-O-Mat</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

        <!-- Bootstrap Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
    </head>

    <body>

        <div class="container-fluid">
                <div class="row">

                    <div class="jumbotron action-area">
                        HEIHEOHEIEHEIEHIE
                    </div> <!-- /jumbotron -->

                </div> <!-- /row -->
            </div> <!-- /Container-fluid -->

    </body>
</html>