<!DOCTYPE html>
<html lang="no">
    <head>
        <title>Valg-O-Mat</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

        <!-- Bootstrap Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        
        <div class="cointainer-fluid">
            <div class="jumbotron action-area">
                
                <header class="vert-cent">
                    <h2 class="title title-slides">{{ question }}</h2>
                </header>
                
                <row>
                    <form id="answers" action="/next" method="post" class="answers d-block">
                        <div class="form-group">
                            <input type="radio" checked="{{ check }}" name="input" value="Ja"> Ja<br>
                            <input type="radio" checked="{{ check }}" name="input" value="Usikker"> Vet Ikke<br>
                            <input type="radio" checked="{{ check }}" name="input" value="Nei"> Nei
                        </div>
                    </form>
                </row>
                
                <row>
                    <div class="col-md-12 rowBtn">
                        <button form="answers" name="sender" value="NEXT" formmethod="post" class="btn btn-lg btn-success btn-next">{{ varBtn }}</button>
                    </div>
                </row>
                
            </div>
        </div>
        
    </body>
</html>